body{
	padding:0; 
	margin:0; 
	background-image:url(../images/squares-gray.jpg); 
	background-repeat:repeat;  
	font-family: Ebrima, tahoma, Arial, sans-serif !important; 
	font-size:14px !important; 
	color:black !important; 
	font-weight:normal !important;
}
:focus {outline:none;}

a {color:#014ab7;}
p { word-break: break-all;}
.clear{clear:both;height:19px !important;}

#wrap1{position: relative; margin:0 auto;  width:1230px;}
#wrap2{position: relative; margin:0 auto;  width:1230px;}

	#header {position: relative;}
		#logo{ float:left; width:220px; height:41px; background-image: url(../images/logo.png); background-repeat:no-repeat; margin-top:7px;}
		#welcom{float:right; color:#999999; font-size:12px;}
			.cart{color:red;margin-left:15px;margin-right:5px;}
			.cart-item{color:black;}
			#regis{float:right; color:black; font-size:12px; margin-top:5px;}
				.register{margin-right:5px; color:black; text-decoration:none;}
				.register:hover{text-decoration:underline;}
				.login{margin-left:5px;color:black; text-decoration:none;}
				.login:hover{text-decoration:underline;}

/*TOPMENU*/
#bg-topmenu{ height:53px; background-color:#e4e3e1; width:100%;}
	#topmenu {position: relative; height:53px; margin:0 auto; width:1279px; text-transform:uppercase;  background-image: url(../images/bg-topmenu.png); background-repeat:no-repeat; }
	#topmenu ul {padding:0; margin:0;height:50px;}
	#topmenu ul li {color:#7b7b7d; list-style:none; font-size:15px; display:inline-block; padding:15px 30px; background-image: url(../images/line-topmenu.jpg); background-repeat:no-repeat; background-position:right;}
	#topmenu ul li a {color:#7b7b7d; font-size:15px; text-decoration:none;}
	#topmenu ul li a:hover {color:#1e79e0;}
	#topmenu ul li a.active {color:#1e79e0;}
	.menu-home{margin-left:30px;}

	.tel{float:right; color:#0e62a4;font-size:18px; margin-right:45px;  margin-top:-44px;}
	.mail {text-transform:lowercase;color:black;font-size:12px;text-decoration:none;margin-left:2px;}
	.mail:hover{text-decoration:underline;}

		


/*COLUM1*/
#col1 {position:relative; width:207px; float:left;}

	/*MENULEFT*/
	#menuleft ul {padding:0; margin-top:8px;margin-left:13px;}
	#menuleft ul li { list-style:none;font-size:15px; line-height:30px;  background-image: url(../images/arrow-leftmenu.jpg); background-repeat:no-repeat;}
	#menuleft ul li a { color:#858687; text-decoration:none;}
	#menuleft ul li a:hover{color:#f55507;text-decoration:none;}
	#menuleft ul li a.active {color:#f55507;}
	.titel-cate {font-family: Ebrima; font-size:23px;}

	/*LOGIN FORM*/
	#login {background-color:#f2f2f2; padding:15px; width:190px;}
	.title-login {font-size:17px; text-transform:uppercase;  font-family: Arial; border-bottom:1px solid #c7c7c7;}
	.put-text {border:1px solid #dad9d9; background-color:white; width:153px; margin-top:2px; line-height:20px; padding-left:5px; color:#9a9898; font-size:11px;}
	.btn-Login{background-color:black; color:white; padding:3px 8px; border:0;font-size:11px; margin-top:7px; cursor:pointer;}
	.btn-Login:hover{background-color:#666666;}
	.forget {margin-top:10px;}
	.forget a {font-size:11px; color:#575454;text-decoration:none; }
	.forget a:hover{text-decoration:underline;}
	.regis {margin-top:6px;}
	.regis a{font-size:11px; color:#fb7625;text-decoration:none;}
	.regis a:hover{text-decoration:underline;}


	/*NEWSLETTER*/
	#newsletter{background-color:#d0e9fe; padding:15px; width:190px !important;}
	.title-newsletter {font-size:17px; text-transform:uppercase;  font-family: Arial;}
	.text-signup{font-size:10px; text-transform:uppercase;  font-family: Arial; color:#807f7e;}
	.btn-newsletter{background-color:#3f8ac9; color:white; padding:3px 8px; border:0;font-size:11px; margin-top:7px; cursor:pointer;}
	.btn-newsletter:hover{background-color:#4093d8;}

	/*YOUR CART*/
	#yourcart{background-color:#f7ffbf; padding:15px; width:190px; border-top:1px solid #bcbcbc; border-bottom:2px solid #bcbcbc;}
	.title-yourcart {height:26px; font-size:15px; text-transform:uppercase;  font-family: Arial; padding-left:30px;  padding-top:4px; background-image: url(../images/icon-cart.png); background-repeat:no-repeat;}
	.text1-yourcart{font-size:13px; color:#393838;}
	.text2-yourcart {font-size:13px; color:red;}
	.list-cart {margin-top:5px;}
	.list-cart ul {padding:0; margin:0;}
	.list-cart ul li {margin:0; list-style:none; font-size:12px; line-height:25px; background-image: url(../images/point.gif); background-repeat:no-repeat; background-position:0px 12px; padding-left:8px;}
	.list-cart ul li a {text-decoration:none;}
	.list-cart ul li a:hover {text-decoration:underline;}
	.total-cart{ font-size:18px; color:red;}
	.cartAdd {display:inline-block; width:30px; line-height:13px; text-align: center; background-color:white; border: 1px solid #ccc; margin-top:-3px;  padding-left:5px; padding-right:5px; padding-top:3px; padding-bottom:3px;color:#393838;font-size:12px;text-align:right;}
	.view-full-trolley {margin-top:10px; font-size:11px; width:100px; line-height:20px; text-align:center; font-weight:bold;  background-color:white; display:block; border:1px solid #A1A6A4; border-radius:4px;}
	.view-full-trolley a {text-decoration:none;}
	.view-full-trolley:hover {text-decoration:underline;}


/*COLUM2*/
#col2 {position:relative;  width:808px; float:left;}

	/*HIGHLIGHT*/
	#highlight{ margin:0 auto; margin-top:10px; position:relative; height:405px;}

		#highlight ul{padding:0; margin:0; list-style:none;}
		#highlight ul li {display:inline-block; padding:0; margin:0; border:8px solid white; outline:1px solid #dddddd; width:790px;}
		#highlight ul li a {display: inline-block; }

		#run { position:absolute; bottom:0px; right:20px; margin:0 auto;  width:85px; height:25px;}
			#run ol{padding:0; margin:0; list-style:none;}
			#run ol li{padding:0; margin:0; list-style:none;display:inline-block; zoom: 1; *display: inline; font-size:12px; font-weight:bold;}
			#run ol li a{color:white; padding:0; margin:0; list-style:none; display:inline-block; zoom: 1; *display: inline; float:left; text-decoration:none;
			width:15px;  height:15px;   background: black;   }
			#run ol li a:hover{ padding:0; margin:0; list-style:none; display:inline-block; zoom: 1; *display: inline; float:left;  text-decoration:none;
			width:15px;  height:15px;    background-color:#c5e1ff;   }
			#run ol li a.active{padding:0; margin:0; list-style:none; display:inline-block;width:15px;  height:15px;   background-color:#c5e1ff;}

	/*MainCategories*/
	#MainCategories{margin-top:30px; position:relative; margin-left:4px;}
	#MainCategories ul {padding:0; margin:0;}
	#MainCategories ul li{padding:0; margin:0; list-style:none; display:inline-block; zoom: 1; *display: inline; padding-right:8px;}
	#MainCategories ul li:hover {opacity:0.8; filter:alpha(opacity=80);}
		.title-MainCategories {font-family: Ebrima; font-size:23px; margin-bottom:10px;}
		.box-product{ background-color:white; padding:8px; border:1px solid #dedede;}
		.box-name a {position:absolute; margin-left:19px; width:150px; line-height:32px; color:black; font-size:15px; text-align:center; display:block; text-decoration:none; background-color:white; border-bottom:1px solid #cccccc; border-right:1px solid #cccccc; margin-top:-20px;}
		.box-name a:hover{color:#4375ac;}
		.last4{ padding-right:0px !important;}
		.white-space{margin-top:13px;}

	/*New Arrival*/
	.header-new-arrival{width:801px; height:168px;border:1px solid #dddddd; margin-bottom:15px;}
	#new-arrival{margin-top:50px; position:relative;  margin-left:4px;}
	#new-arrival ul {padding:0; margin:0;}
	#new-arrival ul li{padding:0; margin:0; list-style:none; display:inline-block; zoom: 1; *display: inline; padding-right:8px;}
	#new-arrival ul li:hover {}
		.title-new-arrival {float:left; font-family: Ebrima; font-size:23px; margin-bottom:10px;}
		.img-arrival {width:172px; height:130px; border:1px solid #f3f3f3;}
		.box-arrival { background-color:white; padding-top:8px; padding-left:8px; padding-right:8px; height:203px; border:1px solid #dedede;}
		.text-arrival {float:left;width:133px; line-height:14px;}
		.text-arrival1{color:#797777; font-size:12px;}
		.text-arrival2{color:black; font-size:20px; line-height:23px;}
		.btn-cart1{float:left; display:block; width:37px; height:37px;background-image: url(../images/icon-cart2.png); background-repeat:no-repeat; background-position:center center;  border:1px solid #cccccc; background-color:#e2f5fd; text-decoration:none;}
		.btn-cart1:hover{background-color:#d1f1fe;}
		.textbox-arrival {padding-top:8px;}
		.btn-more-arrival a{float:right; margin-top:8px; display:block; width:243px; height:27px;background-image: url(../images/btn-seemore.png); background-repeat:no-repeat; border:0; text-decoration:none; cursor:pointer;}
		.btn-more-arrival a:hover{background-image: url(../images/btn-seemore-hot.png); background-repeat:no-repeat;}

	/* Jewelry Fashion */
		.btn-more-jw a{float:right; margin-top:8px; display:block; width:265px; height:27px;background-image: url(../images/btn-seemore-jw.png); background-repeat:no-repeat; border:0; text-decoration:none; cursor:pointer;}
		.btn-more-jw a:hover{background-image: url(../images/btn-seemore-jw-hot.png); background-repeat:no-repeat;}



/*COLUM3*/
#col3 {position:relative; width:200px; float:right; }

	#u-may-like {margin-top:10px;}
	#u-may-like ul{list-style:none; padding:0; margin:0;}
	#u-may-like ul li{ padding:8px; margin:0; font-size:12px; border-bottom:1px solid #d9d9d9;display:block;}
	#u-may-like ul li a{text-decoration:none; color:black;}
	#u-may-like ul li a:hover{color:#0206c5;}
	.title-u-may-like{ background-color:#4a5b6b;font-family: Ebrima; color:white; font-size:18px; padding:3px;}
	.img-u-may-like{float:left;width:57px; height:57px; border:1px solid #dfdbd8; margin-right:7px;}
	.prize { font-size:15px;}
	.detail-u-may-like{width:118px; overflow:hidden;display:block;}
	.bg-u-may-like{background-color:#e7f4fe;}


	
	/*FOOTER*/
	#bg-footer{position:relative; width:100%; margin-top:20px;  margin-bottom:10px; height:47px; background-image: url(../images/bg-footer.jpg); background-repeat:repeat-x; }
	#footer{margin:0 auto;  width:1230px; font-size:13px; text-align:center; padding-top:15px; }
	#footer ul{padding:0; margin:0;}
	#footer ul li {font-family:Ebrima; padding-right:40px; margin:0; text-transform:uppercase; font-size:15px; color:#7b7b7d; display:inline-block; zoom: 1; *display: inline; }
	#footer ul li a{ text-decoration:none;color:#7b7b7d; }
	#footer ul li a:hover{ text-decoration:none;color:#1e79e0;}

	.copyright{margin:0 auto; margin-top:20px; margin-bottom:20px; width:1230px; font-size:13px; text-align:center;  color:#5d5d5d;}
	.copyright a{text-decoration:none;  color:#5d5d5d;}
	.copyright a:hover{text-decoration:underline; color:#014ab7;}



	/*PAGE*/
	#col-page{float:left; width:83%;height:auto; }
	.title-page {font-family: Ebrima; font-size:20px; margin-top:16px; border-bottom:1px solid #e7e6e6; }
	#breadcrumb {text-align:right;  font-size:11px; color:#666666; }
	#breadcrumb a {color:#014ab7; text-decoration:none; }
	#breadcrumb a:hover {color:#014ab7; text-decoration:underline; }


	/*Products-cate*/
	#Products-cate{margin-top:20px; position:relative; margin-left:20px;}
	#Products-cate ul {padding:0; margin:0;}
	#Products-cate ul li{padding:0; margin:0; list-style:none; display:inline-block; zoom: 1; *display: inline; padding-right:40px;padding-top:15px;}
	#Products-cate ul li:hover {opacity:0.8; filter:alpha(opacity=80);}


	/*products_detail*/
	#productdetail{width:97%; padding:10px; margin-top:25px;}
		.pathlevel_1{color:#da9290;font-weight:bold; padding-left:5px;}
		.pathlevel_2{color:#797979;}
		.pathlevel_3{color:#a67a1f;}
		#path{float:right; margin-right:10px; margin-top:5px;}

		#productshow{width:49%; float:left; text-align:center; margin-top:25px;}
		.nav-thumb{ border: 1px solid #cccccc; width: 86px; height:77px; background:white;}
		.nav-thumb:hover{border: 1px solid #d4d4d4;}

		#movers-row{ height:95px; margin-top:23px; }
		#movers-row div{ width: 21%; float: left;  margin-right:1px; }
		#movers-row div a.cross-link{ float: right; }
		.cross-link	{ display: block; width: 62px; margin-top: -14px; position: relative; padding-top: 15px; z-index: 9999; }
		.cross-link:hover{ background:url(../images/productdetail_pic_hover.jpg) no-repeat; background-position:0px 4px;  display: block;  position: relative; z-index: 99999;}

		#detail{width:49%; float:left; color:#6f6e6e; text-align:left; margin-top:25px;line-height:25px;}
		.nameproduct2{font-size:14px; font-weight:bold; color:#6f6e6e;  padding-bottom:6px;}
		.nameproduct{font-size:22px; color:#1c32c3; padding-bottom:15px;}

		#detail ul, #detail ul li{list-style:none; margin:0; padding:0;}

		#detailproducts_more{margin-top:15px; margin-bottom:30px;  margin-left:30px;margin-right:20px;}
		.title_detailproducts_more{color:black; font-size:14px; text-decoration:underline;font-weight:bold; }
		#detailproducts_more ul {list-style:none; margin:0; padding:0;}
		#detailproducts_more ul li {list-style:none; margin-left:5px; padding-left:20px; background:url(../images/bullet1.jpg) no-repeat; background-position:0px 13px;
		line-height:20px; padding-top:5px; padding-bottom:5px; }


		#cartAdd {width:35px !important; line-height:15px; text-align: center; border: 1px solid #878686; margin-left:5px; padding-left:5px; padding-right:5px; padding-top:3px; padding-bottom:3px;color:red; font-size:13px;}
		.btn-cart2{color:black; float:left; display:block; width:110px; line-height:17px; padding-left:10px;padding:5px; background-image: url(../images/icon-cart22.png); background-repeat:no-repeat; background-position:center right;  background-color:#eaeaea; text-decoration:none; border-radius:3px; margin-left:10px;}
		.btn-cart2:hover{background-color:#d1f1fe;}
		.prize2 { font-size:15px;}
		.bigsale {font-size: 21px;  font-weight: bold;  color: #e36666;}

		/*selectSize*/
		#ProductSizeList ul {padding:0; margin:0;}
		#ProductSizeList ul li {padding:0; margin:0; list-style:none; display:inline-block; zoom: 1; *display: inline;width:40px;height:30px; line-height:15px; padding-left:10px; padding-right:10px; padding-top:7px; padding-bottom:3px; border:1px dashed #d4d4d4;  text-align: center; cursor:pointer; }
		#ProductSizeList ul li a{color:#6f6e6e; text-decoration:none;text-align:center;}
		#ProductSizeList ul li:hover { border:1px dashed #E36666;}
		#ProductSizeList ul li.selectSize{ border:1px solid #E36666;}
		
		/*View full trolley*/
		.tb-trolley {border-collapse: collapse;  border-spacing: 0;  empty-cells: show;  border: 1px solid #cbcbcb;}
		.tb-trolley td { border-bottom: 1px solid #cbcbcb; border-left: 1px solid #cbcbcb;padding-left:10px; }
		.tb-trolley th{border-left: 1px solid #cbcbcb;  border-bottom: 1px solid #cbcbcb; text-align:left; padding-left:10px; line-height:30px; background-color:#F3F4F8;}
		.bottom-tb-trolley{background-color:#F3F4F8; line-height:5px;}

		.empty-trolley {font-size:11px; width:100px; line-height:20px; text-align:center; font-weight:bold;  background-color:#FEF0F0; display:block; border:1px solid #A1A6A4; border-radius:4px;}
		.empty-trolley a {text-decoration:none; color:#9E2A34;}
		.empty-trolley:hover {text-decoration:underline;}
		.checkout {display:block; background-color:green;border-radius:4px;  font-size:13px; width:70px; text-align:center; font-weight:bold;  padding: 3px 12px 4px 5px;}
		.checkout a {color:white;text-decoration:none}
		.checkout:hover {text-decoration:underline;}
		
/* carousel-control.right custom */
 .carousel-control.right {
  right: 17px !important;
 }
 .carousel-indicators {
  bottom: 10px !important;
}

.fa-angle-left{
	font-size:50px !important;
	margin-top:180px;
}

.fa-angle-right{
	font-size:50px !important;
	margin-top:180px;
	
}

.btn-cart1{
 text-decoration:none !important;
}
