body{ background-image:url(../images/squares-gray.jpg); background-repeat:repeat;  font-family: Ebrima, tahoma, Arial, sans-serif; font-size:14px; color:black; font-weight:normal;}
:focus {outline:none;}

a {color:#014ab7;}
p { word-break: break-all;}
.clear{clear:both;}

#wrap1{position: relative; margin:0 auto;  width:1230px;}
#wrap2{position: relative; margin:0 auto;  width:1230px;}

	#header {position: relative;}
		#logo{ float:left; width:220px; height:41px; background-image: url(../images/logo.png); background-repeat:no-repeat; margin-top:7px;}
		#welcom{float:right; color:#999999; font-size:12px;}
			.cart{color:red;margin-left:15px;margin-right:5px;}
			.cart-item{color:black;}
			#regis{float:right; color:black; font-size:12px; margin-top:5px;}
				.register{margin-right:5px; color:black; text-decoration:none;}
				.register:hover{text-decoration:underline;}
				.login{margin-left:5px;color:black; text-decoration:none;}
				.login:hover{text-decoration:underline;}

/*TOPMENU*/
#bg-topmenu{ height:50px; background-color:#e4e3e1; width:100%;}
	#topmenu {position: relative; margin:0 auto; width:1279px; text-transform:uppercase;  background-image: url(../images/bg-topmenu.png); background-repeat:no-repeat; }
	#topmenu ul {padding:0; margin:0;}
	#topmenu ul li {color:#7b7b7d; list-style:none; font-size:15px; display:inline-block; padding:15px 30px; background-image: url(../images/line-topmenu.jpg); background-repeat:no-repeat; background-position:right;}
	#topmenu ul li a {color:#7b7b7d; font-size:15px; text-decoration:none;}
	#topmenu ul li a:hover {color:#1e79e0;}
	#topmenu ul li a.active {color:#1e79e0;}
	.menu-home{margin-left:30px;}

	.tel{float:right; color:#0e62a4;font-size:18px; margin-right:45px;  margin-top:-40px;}
	.mail {text-transform:lowercase;color:black;font-size:12px;text-decoration:none;margin-left:2px;}
	.mail:hover{text-decoration:underline;}

		


/*COLUM1*/
#col1 {position:relative; width:195px; float:left;}

	/*MENULEFT*/
	#menuleft ul {padding:0; margin-top:8px;margin-left:13px;}
	#menuleft ul li { list-style:none;font-size:15px; line-height:30px;  background-image: url(../images/arrow-leftmenu.jpg); background-repeat:no-repeat;}
	#menuleft ul li a { color:#858687; text-decoration:none;}
	#menuleft ul li a:hover{color:#f55507;text-decoration:none;}
	#menuleft ul li a.active {color:#f55507;}
	.titel-cate {font-family: Ebrima; font-size:23px;}
	


/*COLUM2*/
#col2 {position:relative;  width:808px; float:left;}

	/*HIGHLIGHT*/
	#highlight{ margin:0 auto; margin-top:10px; position:relative; height:405px;}

		#highlight ul{padding:0; margin:0; list-style:none;}
		#highlight ul li {display:inline-block; padding:0; margin:0; border:9px solid white; outline:1px solid #dddddd; width:790px;}
		#highlight ul li a {display: inline-block; }

		#run { position:absolute; bottom:0px; right:20px; margin:0 auto;  width:85px; height:25px;}
			#run ol{padding:0; margin:0; list-style:none;}
			#run ol li{padding:0; margin:0; list-style:none;display:inline-block; zoom: 1; *display: inline; font-size:12px; font-weight:bold;}
			#run ol li a{color:white; padding:0; margin:0; list-style:none; display:inline-block; zoom: 1; *display: inline; float:left; text-decoration:none;
			width:15px;  height:15px;   background: black;   }
			#run ol li a:hover{ padding:0; margin:0; list-style:none; display:inline-block; zoom: 1; *display: inline; float:left;  text-decoration:none;
			width:15px;  height:15px;    background-color:#c5e1ff;   }
			#run ol li a.active{padding:0; margin:0; list-style:none; display:inline-block;width:15px;  height:15px;   background-color:#c5e1ff;}

	/*MainCategories*/
	#MainCategories{margin-top:30px; position:relative;}
	#MainCategories ul {padding:0; margin:0;}
	#MainCategories ul li{padding:0; margin:0; list-style:none; display:inline-block; zoom: 1; *display: inline; padding-right:9px;}
	#MainCategories ul li:hover {opacity:0.8; filter:alpha(opacity=80);}
		.title-MainCategories {font-family: Ebrima; font-size:23px; margin-bottom:10px;}
		.box-product{ background-color:white; padding:9px; border:1px solid #dedede;}
		.box-name a {position:absolute; margin-left:19px; width:154px; line-height:32px; color:black; font-size:15px; text-align:center; display:block; text-decoration:none; background-color:white; border-bottom:1px solid #cccccc; border-right:1px solid #cccccc; margin-top:-20px;}
		.box-name a:hover{color:#4375ac;}
		.last4{ padding-right:0px !important;}
		.white-space{margin-top:13px;}


/*COLUM3*/
#col3 {position:relative; width:200px; float:right; }

	#u-may-like {margin-top:10px;}
	#u-may-like ul{list-style:none; padding:0; margin:0;}
	#u-may-like ul li{ padding:8px; margin:0; font-size:12px; border-bottom:1px solid #d9d9d9;display:block;}
	#u-may-like ul li a{text-decoration:none; color:black;}
	#u-may-like ul li a:hover{color:#0206c5;}
	.title-u-may-like{ background-color:#4a5b6b;font-family: Ebrima; color:white; font-size:18px; padding:3px;}
	.img-u-may-like{float:left;width:57px; height:57px; border:1px solid #dfdbd8; margin-right:7px;}
	.prize { font-size:15px;}
	.detail-u-may-like{width:118px; overflow:hidden;display:block;}
	.bg-u-may-like{background-color:#e7f4fe;}


	
	/*FOOTER*/
	#footer{  position:relative;  font-size:13px;margin-top:85px; height:247px;  color:white; background-image: url(../images/bg-footer.jpg); background-repeat:repeat-x; }
	#text-footer{ width:1026px; margin:0 auto;}
		#textAddress{  text-align:left; float:left; }
		.text-namefooter {margin-left:140px; font-family: 'Conv_PGVIM'; font-size:34px; }
		.text-namefooter2 {margin-left:140px; font-family: 'Conv_PGVIM'; font-size:30px; margin-top:-15px; }
		#textAddress p {margin-left:140px;  font-weight:bold;}
		#textAddress p a {font-weight:bold; color:white;}
		.btn-social{margin-left:140px; }
		.map{position:absolute; top:-50px; border:6px solid white;}

		#stat{ float:right; text-align:left;  margin-top:5px; margin-right:10px;font-size:14px; }
		.title-stat{font-family: 'Conv_PGVIM'; font-size:25px; margin-bottom:10px;}
		.link-stat{color:#fef894; font-size:14px;}
		.link-stat:hover{color:#fff772;}

		.copy{margin-top:35px; color:#c381ab;}
		#back-top {position:fixed;  bottom:35px; left:1130px;  z-index:1;}


	/*BLANK*/
	#title-blank { margin-top:20px; font-family: 'Conv_PGVIM'; font-size:32px; color:#d80368; background-image: url(../images/icon-pencil.png); background-repeat:no-repeat;  background-position:10px 0px; padding-left:45px; padding-top:6px;}
	#blank{ height:auto;}
	#page{background:white;width:1016px; margin-top:20px; margin-left:10px; padding:20px;}
	#breadcrumb {text-align:right; margin-top:-30px; font-size:13px; color:#666666; }
	#breadcrumb a {color:#666666; }
	.b1{color:#3697be;}




